@import nib

body
  font 12px Helvetica, Arial, sans-serif
  background-image url(http://www.mathovore.fr/wp-content/uploads/2014/07/calculatrice.jpg)
  background-size 70%
  background-repeat no-repeat

input
  border-radius: 5px

#result
  position relative
  left 240px
  top 25px
  color #ff0000
  border-radius 15px
  background-color cornflowerblue
  font bold 30px verdana